@model List<string>

<h1>Resultados de la consulta</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <p style="color:red;">@ViewData["ErrorMessage"]</p>
}
else if (ViewData["SuccessMessage"] != null)
{
    <p style="color:green;">@ViewData["SuccessMessage"]</p>
}

<table border="1">
    <thead>
        <tr>
            <th>Resultados</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item</td>
            </tr>
        }
    </tbody>
</table>
